<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Todo API</title>
  <base href="/">
  <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800" rel="stylesheet"> -->
  <link rel="stylesheet" href="/app-mini.css">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <header>
    <h1 class="header1"><span>todo</span><span>list</span></h1>
    <h2 class="header2">A simple todo list app built with node</h2>  
  </header>
  <section class="todo">
    <div class="todo__form">
      <input type="text" id="todoInput" class="todo__input" placeholder="Insert your task here...">  
      <label for="todoInput" class="todo__input-label">Insert your task here...</label>
    </div>
    <ul class="todo__list">
    </ul>
    
  </section>
  <script src="/app.js"></script>
</body>
</html>